IPFS_URL=http://ipfs:5001
KID=<ipfs-dag-address-to-public-key>
PRIVATE_KEY=<base64-encoded-~/.ssh/id_rsa>
PUBLIC_KEYS_ADDR=zdpuAtxwsbWbRiNxURi9Cdc49guAcxK31mZGsxJ8Y1YmJm77u
TOPIC=d61a934d-33ee-444c-bdf4-54d3d0ebc90a
