IPFS_URL=http://ipfs:5001
KID=<ipfs-dag-address-to-public-key>
PRIVATE_KEY=<base64-encoded-~/.ssh/id_rsa>
PUBLIC_KEYS_ADDR=zdpuAxAVXiW5cAKhoFNZW3YY3nZmnASbBUG7HewKLUbDwWZrV
TOPIC=d61a934d-33ee-444c-bdf4-54d3d0ebc90a
